@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100 rounded text-secondary user-select-none
            border border-secondary d-flex justify-content-center align-items-center text-center">
    No list is chosen. Your AD could be here...
</div>