@using Todo.Application.Models.ViewModels;
@model IEnumerable<TodoListViewModel>

@foreach (var list in Model)
{
    <div class="modal fade" id="delete-list-@list.TodoList.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete list</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete list "@list.TodoList.Title"?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a id="delete-list-button" type="button" asp-action="Delete"
                   asp-controller="TodoList" asp-route-id="@list.TodoList.Id" asp-antiforgery="true"
                       class="btn btn-danger">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
}